footer {
    background-color: rgb(62, 61, 61);
    color: white;
    margin-top: -23px;

    h2 {
        font-family: "shrikhand", "sans-serif";
        font-weight: 500;
    
    }

    a {
        color: white;
    }

    p {
        padding: 0.1rem;
    }
}