@import "_.mixins.scss";
@import "_.variables.scss";

.menu {
    background-color: #f6f6f6;

    h2 {
        margin-bottom: 2rem;
    }

    .card {
        &__img {
            height: 15rem;
            background-size: cover;
            background-position: center;
            border-radius: 1rem 1rem 0 0;
        }

        @for $i from 1 through 4 {
            &__img#{$i} {
                background-image: url("./images/restaurants/menu#{$i}.jpg");
            }
        }

        &__description {
            position: relative;
            margin-top: -10px;
            border-radius: 0 0 25px 25px;
            background-color: white;
            }
        
            h3, p {
                margin: 0.4rem;
                padding-top: 10px;
            }
        
            i {
                font-size: 2rem;
                position: absolute;
                right: 1rem;
                top: 2rem;
                transform: translateY(-50%);
            }
        
            .fas {
                color: transparent;
                @include gradient(1);
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                transition: all 200ms ease-in-out;
            }
            &:hover .fas {
                opacity: 1;
                transform: translateY(-50%) scale(1.20 );
            }
        }

    .menu__cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        @media (max-width: 767px) {
            grid-template-columns: repeat(1, 1fr);
            margin: 25px;
        }
        .new {
            position: relative;
        }
        .new::before {
            content: "Nouveau";
            position: absolute;
            height: 2rem;
            width: 5rem;
            background-color: $tertiary;
            color: black;
            text-align: center;
            right: 1rem;
            top: 1rem;
        }
        
    }
}

